<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
  <script src="/js/socket.io.js"></script>
  <script>
    const socket = io('http://127.0.0.1:3001');
    socket.emit('message', {hello: 'world'})
    socket.on('my message', data => {
      console.log(data)
    })
  </script>
</body>

</html>