<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
  <script src="/js/socket.io.js"></script>
  <script src="/js/client.js"></script>
</body>

</html>