<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
  <script src="/js/socket.io.js"></script>
  <script>
    const socket = io.connect('http://127.0.0.1:3001');
    socket.on('news', data => {
      console.log(data)
      socket.emit('message', {my: 'data'})
    })

    socket.emit('private message', {msg: 'nihao'})
  </script>
</body>

</html>